:host {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 10px 5px;
    width: calc(100% - 10px);

    dsv-button {
        --button-border-radius: 50% !important;
        --button-disabled-background: inherit !important;
        --button-disabled-color: rgba(0, 0, 0, 0.26) !important;
    }
}


:host-context(body.dark) {
    dsv-button {
        --button-border-radius: 50% !important;
        --button-disabled-color: hsla(0, 0%, 100%, 0.3) !important;
    }
}