:host {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 10px 5px;

}

::ng-deep app-paginate-component button {
    border-radius: 50% !important;
}

::ng-deep app-paginate-component button:disabled {
    background: transparent !important;
    color: rgba(0, 0, 0, 0.26) !important;
}

::ng-deep .dark app-paginate-component button:disabled {
    color: rgba(255, 255, 255, 0.3) !important;
}