:host {
    display: flex;
    gap: 10px;
    flex-flow: nowrap;
    align-items: center;

    button {
        margin: 0px;
        padding: 0px;
        background: transparent;
        border: 0px;
    }

    img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
}