:host {
    position: relative;

    dsv-chip {
        cursor: pointer;
        position: absolute;
        top: -5px;
        right: -5px;
        z-index: 1;
        padding: 1px 5px;
        min-width: 10px;
        border-radius: 15px;
        font-size: 0.9rem;
        font-weight: 300;
    }
}