:host {
    --form-width: 100%;
    --form-height: auto;
    --form-height-height: auto;
    display: flex;

    width: var(--form-width);
    height: var(--form-height);
    max-height: var(--form-max-height);

    form {
        flex-direction: column;
        display: flex;
        margin-top: 0;
        unicode-bidi: isolate;

        &>div:nth-child(1) {
            flex-direction: column;
            display: flex;
            gap: 10px;
            overflow: auto;
            scrollbar-width: thin;
        }
    }

    .form-buttons {
        &:empty {
            display: none;
        }

        display: flex;
        justify-content: flex-end;
        gap: 10px;
        padding-top: 10px;
    }
}