html, body { 
    font-size: 16px !important; 
    width: 100%;
    height: 100%;
    margin: 0;
}

body { display: flex; }
app-root { display: flex; flex: 1; }

button {  
    cursor: pointer;
    font-size: 1rem;
}
div, p, i { font-size: 1rem; }

.flex { display: flex; flex-direction: row; gap: 5px; }
.flex1 { flex: 1; }
.margin5 { margin: 5px; }