<app-form [form]="form" [urlBack]="urlBack()!" (callback)="sendForm($event)">
  <div class="form-container">
    @for (field of formConf(); track field.name) {
      <div [class.width50]="field.className === 'width50'">
        @if (field.type === "text" || field.type === "datetime-local") {
          <dsv-form-input
            [form]="form"
            [field]="field.name"
            [type]="field.type"
            [required]="field.required ?? false"
          />
        }
        @if (field.type === "switch") {
          <dsv-form-checkbox [form]="form" [field]="field.name" />
        }
        @if (field.type === "m2m") {
          <div class="m2m">
            @for (value of form.value[field.name]; track value.id) {
              <div class="chip">
                {{ value.name }}
                <dsv-button
                  icon="ri-delete-bin-line"
                  variant="text"
                  color="error"
                  (callback)="removeValue(field.name, value.id)"
                ></dsv-button>
              </div>
            }
            <admin-search-modal
              [m2em]="field.m2m!"
              (callback)="addValue(field.name)($event)"
            />
          </div>
        }
      </div>
    }
  </div>
</app-form>
