:host {

    .form-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;

        &>div {
            display: flex;
            width: 100%;
        }

        .width50 {
            width: 49%;
        }

        .m2m {
            display: flex;
            flex: 1;
            overflow: auto;
            padding: 10px 0px;

            .m2m-content {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 10px;
                flex-wrap: nowrap;
                display: flex;
                flex-direction: row;
                justify-content: end;
                flex: 1;
            }

            .chip {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 15px;
                background-color: var(--background);
                padding: 5px 5px 5px 20px;
            }
        }
    }
}

::ng-deep .dark .chip {
    background-color: #424242 !important;
}

@media (max-width: 800px) {
    .form-container {
        .width50 {
            width: 100% !important;
        }


        .m2m {
            justify-content: baseline !important;
        }
    }
}