<app-form [form]="form" [urlBack]="urlBack()!" (callback)="sendForm($event)">
  <div class="form-container">
    @for (field of formConf(); track field.name) {
      <div [class.width50]="field.className === 'width50'">
        @if (
          field.type === "text" ||
          field.type === "textarea" ||
          field.type === "datetime-local"
        ) {
          <dsv-form-input
            [form]="form"
            [field]="field.name"
            [type]="field.type"
            [required]="field.required ?? false"
          />
        }
        @if (field.type === "switch") {
          <dsv-form-checkbox [form]="form" [field]="field.name" />
        }
        @if (field.type === "m2m") {
          <div class="m2m">
            <div class="m2m-content">
              @for (value of form.value[field.name]; track value.id) {
                <dsv-chip
                  [text]="value.name"
                  (delete)="removeValue(field.name, value.id)()"
                />
              }
              <admin-search-modal
                [m2em]="field.m2m!"
                (callback)="addValue(field.name)($event)"
              />
            </div>
          </div>
        }
      </div>
    }
  </div>
</app-form>
