:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: calc(100% - 20px);

    .admin-header {
        padding: 10px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}