
.dsv-avatar {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    font-size: 1.25rem;
    line-height: 1;
    border-radius: 50%;
    overflow: hidden;
    user-select: none;
    color: rgb(255, 255, 255);
    background-color: rgb(189, 189, 189);
    border: 4px solid #fff;

    ::ng-deep .dark & {
        border-color: var(--background-dark);
    }

    img { 
        width: 40px;
        height: 40px;
    }

    &.callback:hover {
        border: 4px solid #e0e0e0;
        ::ng-deep .dark & {
            border-color: #2b2b2b;
        }
    
    }
    &.callback:active  {
        opacity: 0.8;
    }

    &.primary { background-color: var(--primary); }
    &.success { background-color: var(--success); }
    &.info { background-color: var(--info); }
    &.warning { background-color: var(--warning); }
    &.error { background-color: var(--error); }
}