:host {
    --img-width: 100%;
    --img-height: 100%;
    --img-border-radius: 0px;

    display: flex;
    flex-direction: column;

    img {
        background-color: var(--background);
        border-radius: var(--img-border-radius);
        width: var(--img-width);
        height: var(--img-height);
    }

    svg {
        background-color: var(--background-card);
        opacity: 0.5;
        margin: 0;
        padding: 0;
        border-radius: 10px;
    }
}