:host {
    display: flex;
    flex-direction: column;

    img {
        background-color: var(--background);
    }

    svg {
        background-color: var(--background-card);
        opacity: 0.5;
        margin: 0;
        padding: 0;
        border-radius: 10px;
    }
}