<dsv-card>
    <div class="dsv-card-header">
        <h2>Access Denied</h2>
    </div>
    <div class="dsv-card-content">
        <div class="flex error text gap10">
            <i class="ri-information-line"></i>
            Vous n'avez pas les droits pour acceder à cette page.
        </div>
        <div class="contact">
            Pour me contacter, veuillez écrire à l'adresse mail suivante :
            <a href="mailto:{{ contactEmail() }}" dsvLinkExternal>{{ contactEmail() }}</a>
        </div>
        <dsv-button routerLink="/" color="primary" [prevent]="false">page d'accueil</dsv-button>
    </div>
</dsv-card>
