.dsv-toast-container {
    position: fixed;
    z-index: 100000000;
    bottom: 0px;
    right: 0px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow: hidden;
    padding: 5px;

    .dsv-toast {
        font-size: 1rem;
        border-radius: 2px;
        box-shadow: 0 0px 0px 0.5px rgba(0, 0, 0, 0.4);
        min-width: 300px;
        padding: 10px 15px;
        pointer-events: all;
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 8px;

        opacity: 0;
        transform: translateX(100%);
        animation: slideInRight 0.5s ease-out forwards;

        @keyframes slideInRight {
            to {
                opacity: 1;
                transform: translateX(0);
            }
        }

        &.success {
            border-left: 4px solid var(--success);

            i {
                color: var(--success);
                font-size: 1.2rem !important;
            }
        }

        &.info {
            border-left: 4px solid var(--info);

            i {
                color: var(--info);
                font-size: 1.2rem !important;
            }
        }

        &.warning {
            border-left: 4px solid var(--warning);

            i {
                color: var(--warning);
                font-size: 1.2rem !important;
            }
        }

        &.error {
            border-left: 4px solid var(--error);

            i {
                color: var(--error);
                font-size: 1.2rem !important;
            }
        }

        .close-button {
            position: absolute;
            top: 13px;
            right: 10px;
            font-size: 0.75rem;
            border: 0;
            background-color: inherit;
            cursor: pointer;
        }

        .close-button:hover {
            background-color: #f9f9f9;
            border-radius: 5px;
        }

        .loader-container {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;

            .loader {
                border: 1px solid #b8b8b8;
            }
        }
    }
}

::ng-deep .dark .dsv-toast .close-button {
    color: #ffffff;
}

::ng-deep .dark .dsv-toast .close-button:hover {
    background-color: #212121 !important;
}

::ng-deep .light .dsv-toast {
    background-color: #ffffff;
    color: #000000;
}

::ng-deep .dark .dsv-toast {
    background-color: #212121;
    color: #ffffff;
}