:host {
    width: 100%;
    --ul-margin: 0;
    --ul-width: 100%;

    ul {
        list-style: none;
        padding: 0;
        margin: var(--ul-margin);
        width: var(--ul-width);
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
}