.modal-overlay {
    position: fixed;
    z-index: -1;
    opacity: 0;
    background-color: oklab(0 none none / 0.8);
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;

    &.open {
        z-index: 100;
        opacity: 1;
    }
}

.modal {
    position: fixed;
    z-index: -1;
    opacity: 0;
    top: 35%;
    left: 25%;
    width: 50%;
    height: 25%;
    min-height: 180px;
    background: var(--background);
    display: flex;
    flex-direction: column;

    &.open {
        z-index: 101;
        opacity: 1;
    }

    .modal-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        background: var(--background-header);
        border-bottom: 1px outset var(--border);
    }

    .modal-content {
        flex: 1;
        overflow: auto;
        scrollbar-width: thin;
        padding: 10px;
        align-content: center;
        background: var(--background-card);
    }

    .modal-footer {
        padding: 10px;
        background: var(--background-card);
    }
}

::ng-deep .modal-footer>div {
    display: flex;
    gap: 0.5rem;
    justify-content: flex-end;
}

@media screen and (max-width: 600px) {
    .modal {
        width: calc(100% - 16px) !important;
        left: 8px !important;
    }
}