.modal-overlay {
    position: fixed;
    z-index: 300000;
    background-color: oklab(0 none none / .8);
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
}

.modal {
    position: fixed;
    z-index: 300001;
    top: 35%;
    left: 25%;
    width: 50%;
    height: 25%;
    background: var(--background);
    display: flex;
    flex-direction: column;

    .modal-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        border-bottom: 1px outset black;
    }

    .modal-content {
        flex: 1;
        overflow: auto;
        padding: 10px;
        align-content: center;
    }

    .modal-footer {
        padding: 10px;
    }
}


::ng-deep .modal-footer>div {
    display: flex;
    gap: 0.5rem;
    justify-content: flex-end;
}

::ng-deep .light .modal {
    .modal-content {
        background-color: var(--text-dark);
    }

    .modal-footer {
        background-color: var(--text-dark);
    }
}

::ng-deep .dark .modal {
    background: var(--background-dark);
}

::ng-deep .dark .modal-header {
    border-color: var(--text-dark);
}

@media screen and (max-width: 600px) {
    .modal {
        width: calc(100% - 16px) !important;
        left: 8px !important;
    }
}