<div>
  @if (getSignal()) {
    @if (withLabel()) {
      <dsv-form-signal-label [label]="fieldName()" [signal]="getSignal()()" />
    }
    @if (type() === "textarea") {
      <textarea
        [id]="fieldName()"
        [formField]="getSignal()"
        class="form-control"
      ></textarea>
    } @else {
      <input
        #input
        [type]="type()" 
        [id]="fieldName()"
        class="form-control"
        [class.error]="isError()"
        [formField]="getSignal()"
        [class.icon]="icon()"
        (blur)="doOnSend()"
        (keydown.enter)="doOnSend()"
      />
    }
    @if (icon()) {
      <i [class]="icon()"></i>
    }
    <dsv-signal-form-error [errors]="getSignal()().errors()" />
  }
</div>
