<table>
  <thead>
    <tr>
      @for (cell of cells(); track cell.name) {
        <th [style.maxWidth]="cell.width">{{ cell.label | translate }}</th>
      }
    </tr>
  </thead>
  <tbody>
    @for (data of showDatas(); track $index; let index = $index) {
      <tr>
        @for (cell of cells(); track cell.name; let indexData = $index) {
          <td
            [routerLink]="url() + '/' + data[0]"
            [style.maxWidth]="cell.width"
          >
            {{ data[indexData + 1] }}
          </td>
        }
      </tr>
    }
  </tbody>
</table>
