:host {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    user-select: none;

    &:hover {
        background-color: rgb(217, 217, 217);
        cursor: pointer;
    }

    .text {
        font-size: 1.2rem;
        display: flex;
        gap: 10px;
        flex: 1;
        font-weight: bold;

        &.small {
            font-size: 1rem;
        }
    }
}

::ng-deep .dark dsv-item {
    &:hover {
        background-color: rgb(49, 49, 49);
    }
}