:host {
    display: flex;
    flex-direction: column;
    user-select: none;

    a {
        margin: 5px 10px;
        padding: 10px;
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    & a:hover {
        background-color: rgb(217, 217, 217);
        cursor: pointer;
    }

    i {
        margin-right: 10px;
    }

    .text {
        font-size: 1.2rem;
        font-weight: bold;

        &.small {
            font-size: 1rem;
        }
    }
}

::ng-deep .dark dsv-item {
    & a:hover {
        background-color: rgb(49, 49, 49) !important;
    }
}