:host {
    --a-margin: 5px 10px;
    --a-padding: 10px;
    --a-color: inherit;

    display: flex;
    flex-direction: column;
    user-select: none;

    a {
        margin: var(--a-margin);
        padding: var(--a-padding);
        color: var(--a-color);
        display: block;
        cursor: pointer;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        &:hover {
            background-color: rgb(217, 217, 217);
        }
    }

    i {
        margin-right: 10px;
    }

    .text {
        font-size: 1rem;
        font-weight: bold;

        &.small {
            margin-left: 20px;
        }
    }

    &.active .small {
        --a-color: #6e6e6e;
    }

    &:not(.active) .small {
        --a-color: #aeaeae;
    }
}

:host-context(body.dark) {
    & a:hover {
        background-color: rgb(49, 49, 49) !important;
    }

    &.active .small {
        --a-color: #aeaeae;
    }

    &:not(.active) .small {
        --a-color: #6e6e6e;
    }
}