:host {
    --select-width: calc(100% - 2px);
    --select-height: 32px;

    width: 100%;

    &>div {
        .form-control {
            width: var(--select-width);
            height: var(--select-height);

            &[multiple] {
                height: auto;
            }
        }
    }
}