:host {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: hidden;

    background-color: var(--background);
    color: var(--text);

    #collapse {
        display: none;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        z-index: 10;
        background-color: rgba(0, 0, 0, 0.6);

        &.show {
            display: inline;
        }
    }
}

:host-context(body.light) {
    --button-text: #ffffff;
    --background: #dcdcdc;
    --background-card: #ffffff;
    --background-header: #dcdcdc;
    --background-table-tr: #000000;
    --background-table-tr-text: var(--background-card);
    --scrollbar: #757575 #f5f5f5;
    --subtitle: #5a5959;
    --border: #cbcbcb;
    --text: #000000;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #189f37;
    --info: #1c7fc1;
    --warning: #a2821f;
    --error: #ca2535;
}

:host-context(body.dark) {
    --background: #000000;
    --background-card: #1f1f1f;
    --background-header: #1f1f1f;
    --background-table-tr: #DCDCDC;
    --background-table-tr-text: var(--background-card);
    --scrollbar: #a9a9a9 #383838;
    --subtitle: #ffffffb3;
    --border: #606060;
    --text: #ffffff;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #128c2e;
    --info: #106694;
    --warning: #ac8a24;
    --error: #df1126;
}