:host {
    --button-text: #ffffff;
    --background: #dcdcdc;
    --background-card: #ffffff;
    --background-header: #dcdcdc;
    --background-table-tr: #000000;
    --background-table-tr-text: var(--background-card);
    --scrollbar: rgb(117, 117, 117) rgb(245, 245, 245);
    --subtitle: #5a5959;
    --border: #cbcbcb;
    --text: #000000;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #189f37;
    --info: #1c7fc1;
    --warning: #a2821f;
    --error: #ca2535;

    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: hidden;

    background-color: var(--background);
    color: var(--text);
}

:host-context(.dark) {
    --background: #000000;
    --background-card: #1f1f1f;
    --background-header: #1f1f1f;
    --background-table-tr: #DCDCDC;
    --background-table-tr-text: var(--background-card);
    --scrollbar: rgb(169, 169, 169) rgb(56, 56, 56);
    --subtitle: #ffffffb3;
    --border: #606060;
    --text: #ffffff;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #128c2e;
    --info: #106694;
    --warning: #ac8a24;
    --error: #df1126;
}