:host {
    display: flex;
    user-select: none;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 15px;
    border-radius: 15px;
    font-size: 1rem;
    font-weight: 300;

    &.with-delete {
        padding: 0px 5px 0px 20px;
    }

    &:empty {
        display: none;
    }
}