<form (submit)="onSubmit($event)" class="form-container" novalidate>
  <div>
    <ng-content></ng-content>
  </div>
  <div
    class="form-buttons"
    [class.hidden]="!(urlBack() && isCallbackBack() && textValid() !== '')"
  >
    @if (urlBack()) {
      <dsv-button
        color="default"
        variant="outlined"
        [routerLink]="urlBack()"
        [prevent]="false"
        >{{ "RETOUR" | translate }}</dsv-button
      >
    }
    @if (isCallbackBack()) {
      <dsv-button color="default" variant="outlined" (callback)="goBack()">{{
        "RETOUR" | translate
      }}</dsv-button>
    }
    @if (textValid() && textValid() !== "") {
      <dsv-button type="submit" color="primary">{{
        textValid()! | translate
      }}</dsv-button>
    }
  </div>
</form>
