:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .admin-header {
        padding: 10px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    dsv-card {
        margin-right: 5px;
        width: calc(100% - 5px);

        dsv-form-signal-searchbar {
            margin: 5px 0;
        }
    }
}