:host {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    margin: 0px;
    padding: 0px;
    width: calc(100%);
    color: var(--text);
    background-color: var(--background-card);
    position: relative;

    &.border {
        border: 1px solid var(--border);
        border-radius: 4px;
    }
}