:host {
    display: flex;
    overflow: hidden;
    width: 100%;
}

::ng-deep dsv-admin-form dsv-card .dsv-card-content {
    overflow: hidden;

    dsv-admin-form-component {
        overflow: hidden;
    }
}