:host {
    width: 100%;

    &>div {
        display: flex;
        flex-direction: column;
        position: relative;

        .form-control {
            font-family: inherit;
            display: block;
            width: calc(100% - 2rem);
            height: calc(1rem + 2px);
            padding: .5rem;
            padding-left: 10px;
            font-size: 1rem;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: .25rem;
            transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
            outline-color: rgb(0, 0, 0, 0.3);

            &.icon {
                padding-left: 25px;
                width: calc(100% - 2.4rem);
            }

            &.error {
                border: 1px solid var(--error);
            }

            &:disabled {
                opacity: 0.6;
            }
        }

        i {
            position: absolute;
            z-index: 1000;
            top: 15px;
            left: 7px;
        }

        textarea {
            overflow: auto;
            scrollbar-width: thin;
            resize: vertical;
        }

        textarea.form-control {
            height: auto;
            min-height: 90px;
        }
    }
}

::ng-deep .dark .form-control {
    color-scheme: dark;
    background-color: var(--background-dark) !important;
    color: var(--text-dark) !important;
}