<div [formGroup]="form()">
  <dsv-form-label
    [label]="field()"
    [field]="form().get(field())!"
    [show]="withLabel()"
  />
  @if (type() === "textarea") {
    <textarea
      [id]="field()"
      [formControlName]="field()"
      class="form-control"
      [class.error]="
        form().get(field())?.touched && form().get(field())?.invalid
      "
    ></textarea>
  } @else {
    <input
      [id]="field()"
      [type]="type()"
      [formControlName]="field()"
      class="form-control"
      [class.icon]="icon()"
      [class.error]="
        form().get(field())?.touched && form().get(field())?.invalid
      "
      (keydown.enter)="onEnter()"
    />
  }
  @if (icon()) {
    <i [class]="icon()"></i>
  }
  <dsv-form-error [field]="form().get(field())!" />
</div>
