<dsv-card>
    <div class="dsv-card-header">
        <h2>Page 404</h2>
    </div>
    <div class="dsv-card-content">
        <div class="flex error text gap10">
            <i class="ri-information-line"></i>
            La page n'a pas été trouvée, elle est en construction ou absente du site.
        </div>
        <div class="contact">
            Pour me contacter, veuillez écrire à l'adresse mail suivante :
            <a href="mailto:vagabond.git@gmail.com" dsvLinkExternal>vagabond.git@gmail.com</a>
        </div>
        <dsv-button routerLink="/" color="primary">page d'accueil</dsv-button>
    </div>
</dsv-card>