<dsv-card>
    <div class="dsv-card-header">
        <h2>{{ 'NOT_FOUND_PAGE' | translate }}</h2>
    </div>
    <div class="dsv-card-content">
        <div class="flex error text gap10">
            <i class="ri-information-line"></i>
            {{ 'NOT_FOUND_PAGE_DESCRIPTION' | translate }}
        </div>
        <div class="contact">
            {{ 'CONTACT_ME' | translate }}
            <a href="mailto:{{ contactEmail() }}" dsvLinkExternal>{{ contactEmail() }}</a>
        </div>
        <dsv-button routerLink="/" color="primary" [prevent]="false" libelle="BACK_TO_HOME" />
    </div>
</dsv-card>
