<div [formGroup]="form()">
  @if (withLabel()) {
    <label
      [for]="field()"
      [class.error]="
        form().get(field())?.touched && form().get(field())?.invalid
      "
    >
      {{ field() }} {{ isRequired ? "*" : "" }}
    </label>
  }
  <div>
    <select
      [id]="field()"
      [formControlName]="field()"
      class="form-control"
      (change)="doChange()"
      [class.error]="
        form().get(field())?.touched && form().get(field())?.invalid
      "
    >
      @for (list of list(); track list.id) {
        <option [value]="list.id">
          {{ list.name }}
        </option>
      }
    </select>
    @if (form().get(field())?.touched && form().get(field())?.invalid) {
      <div class="error-content">
        @if (form().get(field())?.errors?.["required"]) {
          <div>Le champ est requis.</div>
        }
      </div>
    }
  </div>
</div>
