:host {
    width: 100%;
    height: 100%;

    form {
        flex-direction: column;
        display: block;
        margin-top: 0em;
        unicode-bidi: isolate;
    }

    .form-buttons {
        display: flex;
        justify-content: flex-end;
        gap: 10px;
        padding-top: 10px;
    }
}