<form [formGroup]="form()" (ngSubmit)="onSubmit()" class="form-container">
  <div>
    <ng-content></ng-content>
  </div>
  <div
    class="form-buttons"
    [style.display]="urlBack() && textValid() !== '' ? '' : 'none'"
  >
    @if (urlBack()) {
      <dsv-button
        color="default"
        variant="outlined"
        [routerLink]="urlBack()"
        [prevent]="false"
        >{{ "RETOUR" | translate }}</dsv-button
      >
    }
    @if (textValid() && textValid() !== "") {
      <dsv-button type="submit" color="primary">{{
        textValid()! | translate
      }}</dsv-button>
    }
  </div>
</form>
