:host {
    width: 100%;
    height: 100%;

    form {
        flex-direction: column;
        display: flex;
        margin-top: 0em;
        unicode-bidi: isolate;

        &>div:nth-child(1) {
            flex-direction: column;
            display: flex;
            gap: 10px;
            overflow: auto;
        }
    }

    .form-buttons {
        display: flex;
        justify-content: flex-end;
        gap: 10px;
        padding-top: 10px;
    }
}