html,
body {
    padding: 0px !important;
    margin: 0px !important;
    width: 100% !important;
    height: 100% !important;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
}

body {
    overflow-x: hidden;
    scrollbar-color: rgb(117, 117, 117) rgb(245, 245, 245);
}

body.dark {
    scrollbar-color: rgb(169, 169, 169) rgb(56, 56, 56);
}

app-root {
    height: 100%;
    display: flex;
    flex-direction: column;
}

button {
    cursor: pointer;
}

p {
    line-height: 1.5rem;
    margin: 0;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.gap10 {
    gap: 10px;
}

.flex1 {
    flex: 1;
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: 500;
    cursor: pointer;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.2rem;
}

form {
    width: 100%;
}


.card-container .subtitle {
    color: rgb(91, 90, 90);
}

.dark .card-container .subtitle {
    color: rgba(255, 255, 255, 0.7);
}