html,
body {
    padding: 0px !important;
    margin: 0px !important;
    width: 100% !important;
    height: 100% !important;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
}

body {
    overflow-x: hidden;
}

dsv-theme {
    scrollbar-color: var(--scrollbar);
}

app-root {
    height: 100%;
    display: flex;
    flex-direction: column;
}

button {
    cursor: pointer;
}

p {
    line-height: 1.5rem;
    margin: 0;
}

.flex,
.flex-column {
    display: flex;
}

.flex1 {
    flex: 1;
}

.flex-column {
    flex-direction: column;
}

.justify-end {
    justify-content: flex-end;
}

.gap-5 {
    gap: 5px;
}

.gap10,
.gap-10 {
    gap: 10px;
}

.margin-top-5 {
    margin-top: 5px;
}

.margin-top-10 {
    margin-top: 10px;
}

.hidden {
    display: none !important;
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: 500;
    cursor: pointer;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.2rem;
}

form {
    width: 100%;
}

hr {
    margin: 20px 0px;
}

.subtitle {
    color: var(--subtitle) !important;
}

@media screen and (max-width: 800px) {
    i[class^="ri-"] {
        font-size: 1.3rem !important;
    }
}