.inherit {
    background-color: inherit;
    color: inherit;
}

.default {
    background-color: var(--text);
    color: var(--button-text);
}

.default {
    background-color: var(--text);
    color: var(--background-card);
}

.primary {
    background-color: var(--primary);
    color: var(--button-text);
}

.secondary {
    background-color: var(--secondary);
    color: var(--button-text);
}

.success {
    background-color: var(--success);
    color: var(--button-text);
}

.info {
    background-color: var(--info);
    color: var(--button-text);
}

.warning {
    background-color: var(--warning);
    color: var(--button-text);
}

.error {
    background-color: var(--error);
    color: var(--button-text);
}

.text,
.outlined {
    background-color: transparent;
    box-shadow: none;

    &.default {
        color: var(--text);
    }

    &.primary {
        color: var(--primary);
    }

    &.secondary {
        color: var(--secondary);
    }

    &.success {
        color: var(--success);
    }

    &.info {
        color: var(--info);
    }

    &.warning {
        color: var(--warning);
    }

    &.error {
        color: var(--error);
    }

    &.outlined.default {
        border: 1px solid var(--text) !important;
    }

    &.outlined.primary {
        border: 1px solid var(--primary) !important;
    }

    &.outlined.secondary {
        border: 1px solid var(--secondary) !important;
    }

    &.outlined.success {
        border: 1px solid var(--success) !important;
    }

    &.outlined.info {
        border: 1px solid var(--info) !important;
    }

    &.outlined.warning {
        border: 1px solid var(--warning) !important;
    }

    &.outlined.error {
        border: 1px solid var(--error) !important;
    }
}

.small,
.small>i {
    font-size: 1rem;
}

.medium,
.medium>i {
    font-size: 1.25rem;
}

.large,
.large>i {
    font-size: 1.5rem;
}

.fullwidth {
    width: 100%;
}

dsv-tooltip>*:not(.dsv-tooltip) {
    cursor: context-menu;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.markdown {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;

    h1,
    h2,
    h3 {
        margin: 15px 0;
    }

    hr {
        margin: 20px 0;
    }

    ul {
        margin: 0;
    }


    p,
    li {
        text-align: justify;
        padding: 5px 0;
    }

    a {
        text-decoration: underline;
    }

    pre {
        overflow: auto;
    }

    img {
        max-width: 100%;
    }
}

blockquote {
    border-left: 3px solid var(--primary);
    padding-left: 10px;
    margin: 0;
}