<button
    id="google-signin-button"
    [class.hidden]="!authService.isRefreshTokenLoaded() || authService.userConnected() !== null"
></button>

@if (authService.userConnected()) {
    <ng-content />
    <img [src]="authService.userConnected()?.avatar" alt="profile" />
    <dsv-modal-button id="logout" icon="ri-logout-box-line" />
    <dsv-modal-alert
        id="logout"
        titleText="Déconnexion"
        text="Voulez-vous vraiment vous déconnecter ?"
        button="Oui"
        buttonClose="Non"
        (callback)="logout()"
    ></dsv-modal-alert>
}
