:host {
    display: flex;
    flex: 1;
    width: 100%;
    margin-bottom: 10px !important;

    &>div {
        align-items: center;
        flex-direction: row;
        flex: 1;

        dsv-form-label,
        dsv-form-reactive-label,
        dsv-form-signal-label {
            margin-bottom: 0px !important;
            flex: 1 !important;
            cursor: pointer !important;
        }

        input {
            accent-color: var(--primary);
            width: 20px !important;
            height: 20px !important;
            margin-right: 5px !important;

            &[type="checkbox"]:checked {
                appearance: none;
                -webkit-appearance: none;
                width: 18px;
                height: 18px;
                border: 2px solid var(--primary);
                border-radius: 3px;
                background-size: 120%;
                background-color: var(--primary);
                background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z'/%3E%3C/svg%3E");
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }
}