:host {
    display: flex;
    flex: 1;
    width: 100%;
    margin-bottom: 10px !important;

    &>div {
        align-items: center;
        flex-direction: row;
        flex: 1;

        dsv-form-label,
        dsv-form-reactive-label,
        dsv-form-signal-label {
            margin-bottom: 0px !important;
            flex: 1 !important;
            cursor: pointer !important;
        }


        input {
            accent-color: var(--primary);
            width: 20px !important;
            height: 20px !important;
            margin-right: 5px !important;
        }
    }
}