<footer>
    <hr />
    <ng-content />
    <div class="footer-content">
        <div>
            <div>
                <a href="/contact" dsvLink>Contact</a>
            </div>
            <div>
                <strong>Mail :</strong>
                <a href="mailto:vagabond.git@gmail.com" dsvLinkExternal>vagabond.git@gmail.com</a>
            </div>
            @if (withMentions()) {
                <div>
                    <a href="/mentions-legales" dsvLink>Mentions-legales</a>
                </div>
            }
        </div>
        <div>
            <div class="created-by">
                <a href="/contact" dsvLink
                    ><img class="vagabond" title="vagabond" alt="vagabond" src="images/vagabond.png"
                /></a>
                <div>
                    <a href="/contact" dsvLink>Créé par Vagabond</a>
                    <div class="flex-row gap5">
                        <a href="https://github.com/vagabon" title="Github de Vagabond" dsvLinkExternal>
                            <img title="logo Github" alt="logo Github" src="/images/icons/github.png" />
                        </a>
                        @if (withX()) {
                            <a href="https://twitter.com/VagabondDev" title="X de Vagabond" dsvLinkExternal>
                                <img title="logo X" alt="logo X" src="/images/icons/x.png" />
                            </a>
                        }
                        <a href="https://discord.gg/TUy5MtVRt7" title="Discord de Vagabond" dsvLinkExternal>
                            <img title="logo discord" alt="logo discord" src="/images/icons/discord.png"
                        /></a>
                        <a href="https://blog.vagabond.synology.me" title="Blog de Vagabond" dsvLinkExternal>
                            <img
                                title="logo blog vagabond"
                                alt="Me suivre sur mon blog"
                                src="/images/icons/blog.png"
                        /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p class="copyright">Copyright &copy; 2026 {{ copyright() }}</p>
</footer>
