<footer>
    <hr />
    <ng-content />
    <div class="footer-content">
        <div>
            <div>
                <strong>Mail : </strong>
                <a href="mailto:{{ contactEmail() }}" dsvLinkExternal>{{ contactEmail() }}</a>
            </div>
            <div>
                <a href="/contact" dsvLink>Contact</a>
            </div>
            @if (withMentions()) {
                <div>
                    <a href="/mentions-legales" dsvLink>{{ 'MENTIONS_LEGALES' | translate }}</a>
                </div>
            }
        </div>
    </div>
    <p class="copyright">Copyright &copy; 2026 {{ copyright() }}</p>
</footer>
