<section class="contact-page">
    <dsv-card>
        <div class="content">
            <div class="left-side">
                <img title="vagabond" alt="vagabond" src="/images/vagabond.png" />
                <h2>vagabond</h2>
                <p>passionné par les technologies du Web<br />20 ans d'expérience</p>
                <div class="chips">
                    <dsv-chip text="ANGULAR" color="default" />
                    <dsv-chip text="QUARKUS" color="default" />
                    <dsv-chip text="DOCKER" color="default" />
                    <dsv-chip text="GIT" color="default" />
                </div>
            </div>
            <div class="right-side">
                <div>
                    <h2>Me contacter</h2>
                    <p>
                        Pour me contacter, veuillez écrire à l'adresse mail suivante :
                        <a href="mailto:vagabond.git@gmail.com" dsvLinkExternal>vagabond.git@gmail.com</a>
                    </p>
                </div>
                <div>
                    <h2>Me suivre</h2>
                    <div class="follow-buttons">
                        <dsv-button variant="outlined" color="default">
                            <a href="https://discord.com/invite/TUy5MtVRt7" dsvLinkExternal>
                                <img
                                    class="button-contact"
                                    title="logo discord"
                                    alt="logo discord"
                                    width="20px"
                                    src="/images/icons/discord.png"
                                />
                                Rejoindre mon serveur Discord
                            </a>
                        </dsv-button>
                        <dsv-button variant="outlined" color="default">
                            <a href="https://github.com/vagabon" dsvLinkExternal>
                                <img
                                    class="button-contact"
                                    title="logo discord"
                                    alt="logo discord"
                                    width="20px"
                                    src="/images/icons/github.png"
                                />
                                Me suivre sur GitHub
                            </a>
                        </dsv-button>
                        <dsv-button>
                            <a href="https://blog.vagabond.synology.me/" dsvLinkExternal>
                                <img
                                    class="button-contact"
                                    title="logo discord"
                                    alt="logo discord"
                                    width="20px"
                                    src="/images/icons/blog.png"
                                />
                                Suivre mon blog
                            </a>
                        </dsv-button>
                    </div>
                </div>
            </div>
        </div>
    </dsv-card>
</section>

<section class="contact-projects">
    <dsv-card>
        <h2>
            <i class="ri-file-video-line"></i>
            Movie Keeper
        </h2>
        <div class="project-content">
            <img title="logo Movie Keeper" alt="logo Movie Keeper" width="40px" src="/images/icons/mk.png" />
            <p>
                Movie Keeper est votre espace personnel pour organiser ce que vous regardez. Créez des listes
                personnalisées - films à voir, coups de cœur, top 10, favoris.
            </p>
        </div>
        <a
            href="https://popcorn.vagabond.synology.me/"
            title="https://popcorn.vagabond.synology.me/"
            dsvLinkExternal
        >
            https://popcorn.vagabond.synology.me/
        </a>
    </dsv-card>
    <dsv-card>
        <h2>
            <i class="ri-news-line"></i>
            Blog & Tools
        </h2>
        <div class="project-content">
            <img
                title="logo blog vagabond"
                alt="logo blog vagabond"
                width="40px"
                src="/images/icons/blog.png"
            />
            <p>
                Mon blog avec la liste des outils que j'utilise pour créé mes SaaS.<br />
                Contient également une gestion des todo list à partager avec d'autre membre.
            </p>
        </div>
        <a href="https://blog.vagabond.synology.me" title="//blog.vagabond.synology.me" dsvLinkExternal>
            https://blog.vagabond.synology.me
        </a>
    </dsv-card>
    <dsv-card>
        <h2>
            <i class="ri-chat-1-line"></i>
            OwnYourChatbots
        </h2>
        <div class="project-content">
            <img
                title="logo blog vagabond"
                alt="logo blog vagabond"
                width="40px"
                src="/images/icons/oyc.png"
            />
            <p>
                Création et entrainement de Chatbot avec une intégration par iFrame ou bot Discord.<br />
                Plusieurs modèles disponibles: ChatGpt, Mistral et Llama.
            </p>
        </div>
        <a href="https://www.ownyourchatbots.com" title="OwnYourChatbots" dsvLinkExternal>
            https://www.ownyourchatbots.com
        </a>
    </dsv-card>
</section>
