:host {
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: calc(100% - 20px);
    padding: 10px !important;
    background-color: #FFF;
    position: relative;
    border-radius: 0px;

    .dsv-accordion-header {
        display: flex;
        width: 95%;
        font-weight: bold;
        cursor: pointer;
        padding: 5px 10px;
        i {
            position: absolute;
            right: 10px;
        }
    }

    .dsv-accordion-text {
        display: flex;
        width: 100%;
        overflow: hidden;
        padding: 0px 10px;
        transform: scaleY(0);
        transform-origin: top;
        opacity: 0;
        height: 0;
        transition: transform 0.3s ease-out, opacity 0.2s ease-out, height 0.2s ease-out;

        &.open {
          padding: 10px 10px;
          transform: scaleY(1);
          opacity: 1;
          height: auto;
        }
    }

}

::ng-deep .dark dsv-accordion {
    background-color: rgb(44, 44, 44);
}