:host {
    --accordion-margin: 10px;
    --accordion-padding: 10px;
    --accordion-width: calc(100% - 40px);
    --accordion-header-padding: 5px 10px;

    --accordion-text-display: flex;
    --accordion-text-padding: 0px 10px;
    --accordion-text-width: calc(100% - 20px);


    display: flex;
    flex-direction: column;
    gap: 7px;
    margin: var(--accordion-margin);
    padding: var(--accordion-padding);
    width: var(--accordion-width);
    background-color: var(--background-card);
    position: relative;
    border-radius: 0px;

    .dsv-accordion-header {
        display: flex;
        width: 95%;
        font-weight: bold;
        cursor: pointer;
        padding: var(--accordion-header-padding);

        i {
            position: absolute;
            right: 10px;
        }
    }

    .dsv-accordion-text {
        display: var(--accordion-text-display);
        width: var(--accordion-text-width);
        padding: var(--accordion-text-padding);
        overflow: hidden;
        opacity: 0;
        height: 0;
        transition:
            transform 0.3s ease-out,
            opacity 0.2s ease-out,
            height 0.2s ease-out;

        &.open {
            padding: 10px 10px;
            opacity: 1;
            height: auto;
        }
    }
}