<div>
  @if (getSignal()) {
    <dsv-form-signal-label
      [label]="fieldName()"
      [signal]="getSignal()()"
      [show]="withLabel()"
    />
    <div>
      <select
        [id]="fieldName()"
        [field]="getSignal()"
        class="form-control"
        (change)="doChange()"
        [class.error]="isError()"
      >
        @for (list of list(); track list.id) {
          <option
            [value]="list.id"
            [selected]="
              list.id?.toString() === getSignal()().value().toString()
            "
          >
            {{ list.name }}
          </option>
        }
      </select>
      <dsv-signal-form-error [errors]="getSignal()().errors()" />
    </div>
  }
</div>
