<div class="dsv-header-content">
  <div class="flex gap10 align-center">
    @if (withMenu()) {
      <dsv-menu-button />
    }
    <a class="dsv-header-logo" (click)="goToHome()">
      @if (img()) {
        <img src="{{ img() }}" alt="logo" />
      }
      <div>
        @for (
          titleText of titleTextParts();
          track titleText;
          let index = $index
        ) {
          <span class="title-{{ index }}">{{ titleText }}</span>
          @if (index < titleTextParts().length - 1) {
            <span>&nbsp;</span>
          }
        }
      </div>
    </a>
  </div>
  <ng-content></ng-content>
</div>
