<div class="header-title">
    @if (withMenu()) {
        <dsv-menu-button />
    }
    <a href="/" class="dsv-header-logo" dsvLink>
        @if (img()) {
            <img src="{{ img() }}" alt="logo" />
        }
        <div>
            @for (titleText of titleTextParts(); track titleText; let index = $index) {
                <span class="title-{{ index }}">{{ titleText }}</span>
                @if (index < titleTextParts().length - 1) {
                    <span>&nbsp;</span>
                }
            }
        </div>
    </a>
</div>
<ng-content></ng-content>
