:host {
    --input-width: calc(100% - 12px);
    --input-max-width: auto;
    --input-opacity: 1;
    --input-flex-direction: column;
    --input-align-center: false;
    --input-justify-content: false;
    --input-gap: 0;
    width: 100%;

    &>div {
        display: flex;
        flex-direction: var(--input-flex-direction);
        gap: var(--input-gap);
        align-items: var(--input-align-center);
        justify-content: var(--input-justify-content);
        position: relative;

        .form-control {
            font-family: inherit;
            display: block;
            margin: 0px;
            padding: 5px 5px 5px 5px;
            width: var(--input-width);
            max-width: var(--input-max-width);
            font-size: 1rem;
            line-height: 1.5;
            color: var(--text);
            background-color: var(--background-card);
            background-clip: padding-box;
            border: 1px solid var(--border);
            border-radius: 5px;
            transition:
                border-color 0.15s ease-in-out,
                box-shadow 0.15s ease-in-out;
            outline-color: rgb(0, 0, 0, 0.3);
            opacity: var(--input-opacity);

            &.icon {
                padding-left: 25px;
            }

            &.error {
                border: 1px solid var(--error);
            }

            &:disabled {
                opacity: 0.6;
            }
        }

        i {
            position: absolute;
            z-index: 1;
            top: 10px;
            left: 7px;
        }

        textarea {
            overflow: auto;
            scrollbar-width: thin;
            resize: vertical;
        }

        textarea.form-control {
            height: auto;
            min-height: 90px;
        }
    }
}

:host-context(body.dark) {
    .form-control {
        color-scheme: dark;
    }
}