<section class="contact-page">
    <dsv-card>
        <div class="content">
            <div class="left-side">
                <img title="vagabond" alt="vagabond" src="/images/vagabond.png" />
                <h2>vagabond</h2>
                <p>
                    {{ 'CONTACT.DESCRIPTION' | translate }}
                    <br />
                    {{ 'CONTACT.DESCRIPTION2' | translate }}
                </p>
                <div class="chips">
                    <dsv-chip text="ANGULAR" color="secondary" />
                    <dsv-chip text="QUARKUS" color="secondary" />
                    <dsv-chip text="DOCKER" color="secondary" />
                    <dsv-chip text="GIT" color="secondary" />
                </div>
            </div>
            <div class="right-side">
                <div>
                    <h2>{{ 'CONTACT.CONTACT_ME' | translate }}</h2>
                    <p>
                        {{ 'CONTACT.WRITE_TO_ME' | translate }}
                        <a href="mailto:{{ contactEmail() }}" dsvLinkExternal>{{ contactEmail() }}</a>
                    </p>
                </div>
                <div>
                    <h2>{{ 'CONTACT.FOLLOW_ME' | translate }}</h2>
                    <div class="follow-buttons">
                        <dsv-button variant="outlined" color="default">
                            <a href="https://discord.com/invite/TUy5MtVRt7" dsvLinkExternal>
                                <img
                                    class="button-contact"
                                    title="logo discord"
                                    alt="logo discord"
                                    width="20px"
                                    src="/images/icons/discord.png"
                                />
                                {{ 'CONTACT.DISCORD_BUTTON' | translate }}
                            </a>
                        </dsv-button>
                        <dsv-button variant="outlined" color="default">
                            <a href="https://github.com/vagabon" dsvLinkExternal>
                                <img
                                    class="button-contact"
                                    title="logo discord"
                                    alt="logo discord"
                                    width="20px"
                                    src="/images/icons/github.png"
                                />
                                {{ 'CONTACT.GITHUB_BUTTON' | translate }}
                            </a>
                        </dsv-button>
                        <dsv-button class="secondary" color="secondary">
                            <a href="https://blog.vagabond.synology.me/" dsvLinkExternal>
                                <img
                                    class="button-contact"
                                    title="logo discord"
                                    alt="logo discord"
                                    width="20px"
                                    src="/images/icons/blog.png"
                                />
                                {{ 'CONTACT.BLOG_BUTTON' | translate }}
                            </a>
                        </dsv-button>
                    </div>
                </div>
            </div>
        </div>
    </dsv-card>
</section>

<section class="contact-projects">
    <dsv-card>
        <h2>
            <i class="ri-file-video-line"></i>
            {{ 'CONTACT.PROJECTS.MK.TITLE' | translate }}
        </h2>
        <div class="project-content">
            <img title="logo Movie Keeper" alt="logo Movie Keeper" width="40px" src="/images/icons/mk.png" />
            <p>
                {{ 'CONTACT.PROJECTS.MK.DESCRIPTION' | translate }}
            </p>
        </div>
        <a href="https://movie-keeper.fr" title="https://movie-keeper.fr" dsvLinkExternal>
            https://movie-keeper.fr
        </a>
    </dsv-card>
    <dsv-card>
        <h2>
            <i class="ri-news-line"></i>
            {{ 'CONTACT.PROJECTS.BLOG.TITLE' | translate }}
        </h2>
        <div class="project-content">
            <img
                title="logo blog vagabond"
                alt="logo blog vagabond"
                width="40px"
                src="/images/icons/blog.png"
            />
            <p>
                {{ 'CONTACT.PROJECTS.BLOG.DESCRIPTION' | translate }}<br />
                {{ 'CONTACT.PROJECTS.BLOG.DESCRIPTION2' | translate }}
            </p>
        </div>
        <a href="https://blog.vagabond.synology.me" title="//blog.vagabond.synology.me" dsvLinkExternal>
            https://blog.vagabond.synology.me
        </a>
    </dsv-card>
    <dsv-card>
        <h2>
            <i class="ri-chat-1-line"></i>
            {{ 'CONTACT.PROJECTS.OYC.TITLE' | translate }}
        </h2>
        <div class="project-content">
            <img
                title="logo blog vagabond"
                alt="logo blog vagabond"
                width="40px"
                src="/images/icons/oyc.png"
            />
            <p>
                {{ 'CONTACT.PROJECTS.OYC.DESCRIPTION' | translate }}<br />
                {{ 'CONTACT.PROJECTS.OYC.DESCRIPTION2' | translate }}
            </p>
        </div>
        <a href="https://www.ownyourchatbots.com" title="OwnYourChatbots" dsvLinkExternal>
            https://www.ownyourchatbots.com
        </a>
    </dsv-card>
</section>
